RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://acarhelper.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://acarhelper.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://acarhelper.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://acarhelper.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^http://anilsaini.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://anilsaini.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://anilsaini.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://anilsaini.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gofactual.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gofactual.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gofactual.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://gofactual.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mhomesolutions.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mhomesolutions.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mhomesolutions.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mhomesolutions.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^http://omenterpriseservices.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://omenterpriseservices.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://omenterpriseservices.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://omenterpriseservices.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sahilrakheja.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sahilrakheja.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sahilrakheja.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sahilrakheja.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shopismine.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shopismine.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shopismine.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://shopismine.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^http://twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.acarhelper.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.acarhelper.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.acarhelper.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.acarhelper.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.anilsaini.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.anilsaini.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.anilsaini.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.anilsaini.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gofactual.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gofactual.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gofactual.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.gofactual.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mhomesolutions.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mhomesolutions.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mhomesolutions.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mhomesolutions.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.omenterpriseservices.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.omenterpriseservices.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.omenterpriseservices.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.omenterpriseservices.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sahilrakheja.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sahilrakheja.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sahilrakheja.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sahilrakheja.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shopismine.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shopismine.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shopismine.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.shopismine.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://acarhelper.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://acarhelper.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://acarhelper.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://acarhelper.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://anilsaini.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://anilsaini.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://anilsaini.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://anilsaini.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gofactual.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gofactual.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gofactual.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://gofactual.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mhomesolutions.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mhomesolutions.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mhomesolutions.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mhomesolutions.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://omenterpriseservices.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://omenterpriseservices.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://omenterpriseservices.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://omenterpriseservices.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sahilrakheja.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sahilrakheja.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sahilrakheja.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sahilrakheja.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://shopismine.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://shopismine.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://shopismine.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://shopismine.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.acarhelper.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.acarhelper.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.acarhelper.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.acarhelper.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.anilsaini.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.anilsaini.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.anilsaini.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.anilsaini.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gofactual.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gofactual.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gofactual.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.gofactual.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mhomesolutions.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mhomesolutions.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mhomesolutions.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mhomesolutions.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.omenterpriseservices.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.omenterpriseservices.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.omenterpriseservices.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.omenterpriseservices.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sahilrakheja.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sahilrakheja.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sahilrakheja.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sahilrakheja.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.shopismine.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.shopismine.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.shopismine.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.shopismine.twinklegarg.online$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.twinklegarg.online/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.twinklegarg.online$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

